<div class="container">
    {% include card.html 
        pre-title=include.company 
        title=include.title 
        dates=include.dates 
        logo=include.logo
    %}
    <div class="section1-block">
        <div class="container">
            {% include heading3-section.html title="Report" subtitle="Summary" %}
            <p>{{include.report}}</p>
        </div>
        <div class="container">
            {% include heading3-section.html title="Reference" subtitle=include.reference_title %}
            <div class="contact-container">
                <div class="contact-item">
                <a href="mailto:{{include.reference_email}}">{{include.reference_email}}</a>
                <i class="fa-solid fa-envelope icon"></i>
                </div>
                <div class="contact-item">
                <a href="{{include.reference_location}}" >{{include.reference_location_name}}</a>
                <i class="fa-solid fa-location-dot icon"></i>
                </div>
            </div>
        </div>
    </div>
</div>