<section class="footer">
  {% include heading1-section.html title="Parker Knopf" subtitle="Mechanical Engineer" %}
  <div class="contact-container">
    <div class="contact-item">
      <a href="mailto:parker.knopf@gmail.com" aria-label="Email">parker.knopf@gmail.com</a>
      <i class="fa-solid fa-envelope icon"></i>
    </div>
    <div class="contact-item">
      <a href="tel:+19513171218" aria-label="Phone">(951) 317-1218</a>
      <i class="fa-solid fa-square-phone icon"></i>
    </div>
    <div class="contact-item">
      <a href="https://www.linkedin.com/in/parker-knopf/" aria-label="LinkedIn">LinkedIn</a>
      <i class="fa-brands fa-linkedin icon"></i>
    </div>
    <div class="contact-item">
      <a href="https://maps.app.goo.gl/zzvZdGLjfjEoYTey5" aria-label="Location">San Diego</a>
      <i class="fa-solid fa-location-dot icon"></i>
    </div>
  </div>
</section>