<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="css/styles.css">
  <link rel="stylesheet" href="css/components.css">
  <link rel="stylesheet" href="css/header.css">
  <link rel="stylesheet" href="css/footer.css">
  <link rel="stylesheet" href="css/card-section.css">
  <script src="https://kit.fontawesome.com/a5645eeb0c.js" crossorigin="anonymous"></script>
</head>
<body>

  {% include header.html %}

  <main class="container">
    {{ content }}
  </main>

  {% include footer.html %}

  <script src="js/main.js"></script>
</body>
</html>